@import "../../../../scss/utilities/variables.scss";

.plant {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 15;
	padding: $padding;
	border-radius: $border-radius;
	background: rgba(31, 34, 31, 0.8);
	display: none;
	align-items: center;
	justify-content: center;

	&_active {
		display: flex;
	}
}

.plant__wrapper {
	min-width: 171px;
	background: $color-dark-2;
	border-radius: $border-radius;
}

.plant__inventory {
	display: flex;
	align-items: center;
	padding: $padding;
	border-radius: $border-radius;

	&-item {
		padding: 10px;
		border-radius: $border-radius;
		background: $color-dark-3;
		cursor: pointer;
		transition: $transition;

		&+& {
			margin-left: $padding;
		}

		&_active,
		&:hover {
			background: $color-dark-4;
		}
	}
}

.plant__product {
	position: relative;
	opacity: .3;
	transition: opacity $transition;

	&-image {
		height: 32px;
	}

	&-count {
		position: absolute;
		bottom: -4px;
		right: -4px;
		display: block;
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 0.01em;
		color: $color-light-2;
	}
}

.plant__inventory-item_active>.plant__product {
	opacity: 1;
}

.plant__item {
	margin: 0 $padding;
	padding: 10px 0 30px 10px;
	border-radius: $border-radius;
	background: $color-dark-4;

	&-name {
		display: block;
		margin-left: $padding;
		font-weight: 400;
		letter-spacing: 0.01em;
		color: $color-light-2;
	}
}

.plant__stat {
	display: flex;
	align-items: center;
	padding: $padding;
	border-radius: $border-radius;

	&-item {
		padding: 10px;
		border-radius: $border-radius;
		background: $color-dark-4;
		cursor: pointer;
		transition: $transition;
		display: flex;
		align-items: center;
		justify-content: center;

		&:first-child {
			flex: 1 1 auto;
		}

		&:hover {
			background: $color-dark-5;
		}
	}

	&-item+&-item {
		margin-left: $padding;
	}
}