@import "../../scss/utilities/variables.scss";

.menu__container {
	position: relative;
}

.menu__nav {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 110px;
}

.menu__list {
	width: 302px; // 1 подгон для CSSTransition
	padding: 6px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	background: $color-dark-4;
}

.menu__select {
	display: flex;
	flex-direction: column;
}

.menu__options {
	display: none;
	width: 100%;
	margin-bottom: 6px;
	padding: 24px;
	border-radius: 6px;
	background: $color-dark-1;

	&.enter-done {
		display: block;
	}
}

.menu__option {
	display: flex;
	align-items: center;
	cursor: pointer;

		&+& {
		margin-top: 10px;
	}

	&-icon {
		opacity: 0.6;
	}

	&_active>&-icon {
		opacity: 1;
		transition: .23s;
	}

	&-title {
		display: block;
		margin-left: 6px;
		font-size: 16px;
		font-family: 'Roboto Flex', sans-serif;
		font-weight: 400;
		letter-spacing: 0.01em;
		color: $color-light-2;
	}

	&_active>&-title {
		color: $color-accent;
		transition: .23s;
	}
}

.menu__select-item {
	display: flex;
	align-items: center;
	padding: 15px;
	background: $color-dark-1;

	&.enter,
	&.exit-done {
		width: 74px; // 2 подгон для CSSTransition
		transition: .3s;
	}

	&.enter-done,
	&.exit {
		width: 290px; // 3 подгон для CSSTransition
		transition: .3s;
	}

	&.enter-done>.menu__select-icon,
	&.exit>.menu__select-icon {
		opacity: 1;
	}

	&.enter-done>.menu__select-title,
	&.enter-done>.menu__select-exit {
		display: block;
	}
}

.menu__select-title {
	display: none;
	flex: 1 1 auto;
	margin-left: 6px;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Cousine', monospace;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	color: #747C75;
}

.menu__select-exit {
	width: 25px;
	height: 25px;
	display: none;
	position: relative;
	border: none;
	cursor: pointer;
	background: $color-dark-1;

	&::before,
	&::after {
		content: "";
		width: 14px;
		height: 1px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 5px;
		background: $color-light-2;
	}

	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.menu__link {
	margin-left: 6px;
	display: flex;
	align-items: center;
	padding: 6px;
	border-radius: 6px;
	background: $color-dark-2;

	&.exit-done {
		opacity: 1;
		transition: .12s;
	}

	&.enter,
	&.enter-done,
	&.exit {
		opacity: 0;
	}
}

.menu__link-item {
	padding: 8px;
	border: 1px solid $color-dark-3;
	background: $color-dark-3;

	&_hover:hover,
	&_active {
		background: #414241;
	}

	&_active .menu__link-icon {
		opacity: 1;
	}
}

.menu__select-item,
.menu__link-item {
	border-radius: 6px;
	cursor: pointer;
	transition: .3s;
}

.menu__select-item+.menu__select-item,
.menu__link-item+.menu__link-item {
	margin-left: 6px;
}

.menu__select-icon,
.menu__link-icon {
	opacity: .4;
	transition: .3s;
}