@import "../../scss/utilities/variables.scss";

.menu__container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 110px;
}

.menu__list {
	padding: 6px;
	background: $color-dark-4;
	border-radius: 10px;
	width: 302px; // 1 подгон для CSSTransition
}

.menu__link {
	margin-left: 6px;
	padding: 6px;
	background: $color-dark-2;
	border-radius: 6px;
}

.menu__link-item {
	padding: 8px;
	background: $color-dark-2;
	border: 1px solid $color-dark-3;

	&_hover:hover {
		background: #3F413F;
	}

	&_active {
		background: #3F413F;
	}

	&_active .menu__link-icon {
		opacity: 1;
	}
}

.menu__list,
.menu__select,
.menu__link {
	display: flex;
	align-items: center;
}

.menu__select-item,
.menu__link-item {
	cursor: pointer;
	border-radius: 6px;
	transition: .3s;
}

.menu__select-item+.menu__select-item,
.menu__link-item+.menu__link-item {
	margin-left: 6px;
}

.menu__select-icon,
.menu__link-icon {
	opacity: .3;
	transition: .3s;
}

.menu__select-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	background: $color-dark-1;

	&_active>.menu__select-icon {
		opacity: 1;
	}
}

.menu__select-exit {
	width: 20px;
	height: 20px;
	display: none;
	position: relative;
	background: $color-dark-1;
	border: none;
	cursor: pointer;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 14px;
		height: 1px;
		border-radius: 5px;
		background: $color-light-2;
	}

	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

// state .menu__select-item
.menu__select-item {

	&.enter,
	&.exit-done {
		width: 74px; // 2 подгон для CSSTransition
		transition: .3s;
	}

	&.enter-done,
	&.exit {
		width: 290px; // 3 подгон для CSSTransition
		transition: .3s;
	}
}

.menu__select:has(.menu__select-item.enter)+.menu__link,
.menu__select:has(.menu__select-item.enter-done)+.menu__link,
.menu__select:has(.menu__select-item.exit)+.menu__link {
	display: none;
}

.menu__select:has(.menu__select-item.exit-done)+.menu__link {
	display: flex;
}

.menu__select:has(.menu__select-item.enter-done) .menu__select-exit {
	display: block;
}