@use "../utilities/variables.scss";

#wrapper {
	max-width: 1600px;
	height: 100%;
	margin: 0 auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

[class*="__container"] {
	max-width: 780px;
	margin: 0 auto;
}

._btn-small {
	width: 38px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: variables.$border-radius;
	cursor: pointer;
	user-select: none;
	transition: variables.$transition;

	&__container {
		width: 18px;
		height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		max-width: 18px;
		max-height: 18px;
	}
}