$color-accent: #35BB52;
$color-dark-1: #404640;
$color-dark-2: #3C413C;
$color-dark-3: #383D38;
$color-dark-4: #313531;
$color-dark-5: #282B28;
$color-light-1: #D5E0D1;
$color-light-2: #DAE7DD;
$padding: 6px;
$border-radius: 6px;
$border-radius-wrap: 10px;
$transition: .3s;