@media (max-width: 760px) {
	.field__cell {
		width: 56px; // ширина текстуры
		height: 56px; // высота текстуры
	}
}

@media (max-width: 630px) {
	.field__cell {
		width: 48px;
		height: 48px;
	}
}

@media (max-width: 546px) {
	.field__cell {
		width: 44px;
		height: 44px;
	}
}

@media (max-width: 480px) {
	.field__cell {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 430px) {
	.field__cell {
		width: 36px;
		height: 36px;
	}
}

@media (max-width: 390px) {
	.field__cell {
		width: 32px;
		height: 32px;
	}
}

@media (max-width: 350px) {
	.field__cell {
		width: 28px;
		height: 28px;
	}
}