@use "../../../../scss/utilities/variables.scss";

.shop__item {
	width: 270px;
	margin-top: 16px;
	margin-left: 16px;
	padding: 14px;
	display: flex;
	align-items: center;
	border-radius: variables.$border-radius;
	background: variables.$color-dark-4;

	&_rarity_rare {
		background: linear-gradient(135deg, #DDD72D, #FDB42D);
		box-shadow: 0px 0px 20px #DDD72D;

		.shop__item-main-content {
			color: variables.$color-dark-4;
		}
	}

	&-image-wrap {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-image {
		max-width: 50px;
		max-height: 50px;
	}

	&-main-content {
		margin-left: 12px;
		color: variables.$color-light-2;
	}

	&-name {
		font-size: 17px;
	}

	&-price-wrap {
		margin-top: 10px;
		display: flex;
		align-items: center;
	}

	&-price {
		font-weight: 700;
	}

	&-coin {
		margin-left: 6px;
	}

	&-stats {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&-buy-btn {
		background: variables.$color-dark-5;
	}
}