@import "../../../../scss/utilities/variables.scss";

.field__cell-wrapper {
	position: relative;
}

.field__cell-menu {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -80%);
	z-index: 20;
	display: none;
	
	&_active {
		display: block;
	}
}

.field__cell-list {
	padding: $padding;
	display: flex;
	align-items: center;
	border-radius: 8px;
	background: $color-dark-4;
}

.field__cell-item {
	display: block;
	padding: 10px;
	border-radius: $border-radius;
	background: $color-dark-1;
	cursor: pointer;
	transition: .2s;

	&+& {
		margin-left: $padding;
	}

	&:hover {
		background: $color-dark-3;
	}
}

.field__cell-icon {
	user-select: none;
}