@import "../../scss/utilities/variables.scss";

.shop__wrap {
	display: flex;
	padding: 30px;
	background: $color-dark-2;
	border-radius: $border-radius-wrap;
}

.shop__tab-list {
	width: max-content;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}