.field__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.field__content {
	width: fit-content;
	height: fit-content;
	padding: 8px;
	border-radius: 6px;
	background: rgba(100, 133, 30, 0.5);
}

.field__row {
	display: flex;
}