@use "../../scss/utilities/variables.scss";

.storage__boxs {
	padding: 30px;
	background: variables.$color-dark-2;
	border-radius: variables.$border-radius-wrap;
}

.storage__boxs-layout {
	margin-top: -25px;
	margin-left: -25px;
	display: flex;
	flex-wrap: wrap;
}